Allow from all

#For Tests: Autoriser seulement quelques IP
#order deny,allow
#deny from all
#allow from 84.4.236.83



#1H: max-age=3600
#1J: max-age=86400
#1S: max-age=604800
#1M: max-age=2628000
#1a: max-age=31536000
<IfModule mod_headers.c>

    <FilesMatch "\.(htm|html)$">
        #Header set Cache-Control "max-age=60, public"
        Header set Cache-Control "no-cache, max-age=0, public"
    </FilesMatch>

    <FilesMatch "\.(webp)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    #favicon
	<FilesMatch "\.(png)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>

    <FilesMatch "\.(txt)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>

	<FilesMatch "\.(json|js)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>



</IfModule>

