button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
}

/* Animations */
.anim-element {
  transform: scale(0.9);
  transition: transform 300ms;
}
.anim-element:hover {
  transform: scale(1);
}

/* https://medium.com/developer-rants/what-if-height-100vh-is-bigger-than-your-screen-7f39c62ac170 */
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.full-screen-div {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: #ffffff;
  /* background-color: #020723; */
  /* No pull down for PWA */
  overscroll-behavior-y: contain;
}

:root {
  /* --color-p1: #3490de; */
  --color-p1: #020723;
  /* --color-p1: #de8634; */
  --color1: var(--color-p1);

  /* --g-colorRed0: #ff5247;
  --g-colorRed100: #e60023;
  --g-colorGray0: #fff;
  --g-colorGray50: #fff;
  --g-colorGray100: #efefef;
  --g-colorGray150: #ddd;
  --g-colorGray200: #767676;
  --g-colorGray300: #111;
  --g-colorGray400: #000;
  --g-blue: #0074e8; */

  /* --g-green: #0fa573;*/
  --g-green: var(--color1);

  /* --g-pine: #0a6955;
  --g-olive: #364a4c;
  --g-navy: #004b91;
  --g-midnight: #133a5e;
  --g-purple: #b469eb;
  --g-orchid: #8046a5;
  --g-eggplant: #5b2677;
  --g-maroon: #6e0f3c;
  --g-watermelon: #f13535;
  --g-orange: #e3780c;
  --g-colorGray0Hovered: #f0f0f0;
  --g-colorGray100Hovered: #e2e2e2;
  --g-colorGray150Hovered: #d0d0d0;
  --g-colorGray200Hovered: #878787;
  --g-colorRed100Hovered: #ad081b;
  --g-blueHovered: #4a8ad4;
  --g-colorGray0Active: #e0e0e0;
  --g-colorGray100Active: #dadada;
  --g-colorGray200Active: #828282;
  --g-colorRed100Active: #a3081a;
  --g-blueActive: #4a85c9;
  --g-colorTransparentDarkGray: rgba(51, 51, 51, 0.8);
  --g-colorTransparentWhite: hsla(0, 0%, 100%, 0.8);
  --g-colorTransparentGray60: rgba(0, 0, 0, 0.06);
  --g-colorTransparentGray100: rgba(0, 0, 0, 0.1);
  --g-colorTransparentGray500: rgba(0, 0, 0, 0.1);
  --g-colorTransparentGray800: rgba(0, 0, 0, 0.8); */
}
